Boas vindas <%= @user.profile.fullname%>, <br />
É com muita alegria queremos te parabenizar por fazer parte do nosso treinamento de desenvolvimento de software. <br />
Você já pode acessar dar inicio as aulas, para isso acontecer acesse nosso site <a href="https://app.spacedevs.com.br/passwords/new">clicando aqui</a> e insira sua matricula e senha. Suas credênciais para ter acesso a plataforma, são:

<br />
<br />
Matricula: <%= @user.registration_code %><br />
Senha: <%= @password_temp %>

<br />
<br />
Obs: Sua senha é temporária e pode ser alterada a qualquer momento. Para isso, clique no seu nome, localizado no canto superior direito da tela, e selecione Meu Perfil. Em seguida, clique em <strong>RESETAR MINHA SENHA</strong>. Você receberá um e-mail com as instruções para definir uma nova senha.
<br />
Se tiver qualquer dúvida, entre em contato conosco pelo WhatsApp: (71) 92002-1145
