Boas vindas <strong><%= @user.profile.fullname %></strong>, <br /> <br />
Queremos te parabenizar por fazer parte do nosso treinamento de desenvolvimento de software.
<br />
<br />
Agora você tem direito de acessar a nossa plataforma para assistir os cursos disponíveis para você através do endereço <a href='https://console.spacedevs.com.br/', target="_blank">console.spacedevs.com.br</a>.
<br />
<br />
-
<p>Suas credenciais:</p>
Matricula: <strong><%= @user.registration_code %></strong>
<br />
Senha: <strong><%= @password_temp %></strong>
