<section class="uk-section">
  <div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body">
      <%= render 'form', route_path: admin_discipline_path(@discipline) %>
    </div>
  </div>
</section>
