<section class="uk-section">
  <div class="uk-container">
    <div class="uk-card uk-card-secondary uk-card-body">
      <%= render 'form', route_path: admin_disciplines_path  %>
    </div>
  </div>
</section>
