<section class="uk-section">
  <div class="uk-container">
    <div class="uk-card uk-card-secondary uk-card-body">
      <%= render 'form', route_path: admin_discipline_content_path(
        discipline_id: @content.discipline.id, id: @content.id)
      %>
    </div>
  </div>
</section>
