<section class="uk-section">
  <div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body">
      <%= render 'form', route_path: admin_discipline_contents_path(discipline_id: @discipline.id) %>
    </div>
  </div>
</section>
