<div class="dashboard-sidebar">
  <ul class="uk-nav">
    <li>
      <%= link_to root_path, class: "sidebar-nav-item #{'active' if current_page? root_path }" do %>
        <i uk-icon="home"></i> <span>Início</span>
      <% end %>
    </li>
    <li>
      <%= link_to profile_path, class: "sidebar-nav-item #{'active' if current_page? profile_path }" do %>
        <i uk-icon="user"></i> <span>Meu perfil</span>
      <% end %>
    </li>
  </ul>
</div>
