<h3 class="uk-heading-line uk-text-white"><span>Materiais</span></h3>
<ul class="uk-list uk-list-disc uk-list-default">
  <% discipline.resources.each do |resource| %>
    <% if resource.file.attached? %>
      <li>
        <%= link_to resource.file.filename, rails_blob_path(resource.file, disposition: 'attachment'), class: "uk-text-featured" %>
      </li>
    <% end %>
  <% end %>
</ul>
