<div class="uk-margin-medium-top" data-aos="fade-up" data-aos-delay="600">
  <h3 class="uk-text-white">Materiais da Aula</h3>

  <div class="materials-container">
    <% discipline.resources.each do |resource| %>
      <% if resource.file.attached? %>
        <div class="materials-item">
          <div class="materials-item-info">
            <div class="materials-item-icon">
              <span uk-icon="icon: file-pdf"></span>
            </div>
            <div>
              <div class="uk-text-white">
                <%= resource.file.filename %>
              </div>
              <div class="materials-item-meta">
                <%= resource.file.filename.extension_without_delimiter.upcase %> •
                <%= resource.file.byte_size.to_mb %> MB
              </div>
            </div>
          </div>
          <div class="download-button">
            <%= link_to rails_blob_path(resource.file, disposition: 'attachment'), class: "uk-link-reset" do %>
              <span uk-icon="icon: download"></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
